#main-view {
    overflow: auto;
}

#main-view .__dbk__child-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#main-view .__dbk__child-wrapper > div {
    flex-grow: 1;
}

#main-view .split-view-gutter {
    background-color: var(--border-color);
}

#main-view .split-view-dragger {
    display: none;
}

/* #main-view::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
} */

/* #main-view::-webkit-scrollbar-track {
    background-color: black;
} */

/* #main-view::-webkit-scrollbar-button {
    display: none;
} */

/* #main-view::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
} */