#editor {
  width: 500px;
  height: 300px;
  border: 2px solid black;
  white-space: pre-wrap; /*change to pre so that it doesn't wrap*/
  overflow: scroll;
}

#dummy {
  width: 20px;
  height: 20px;
  background-color: blue;
}

#index-field {
  width: 40px;
  border: 2px, solid, black;
}

.the-wrap {
  background-color: green;
}

#displayn {
  width: 300px;
  height: 300px;
  border-width: 5px;
  border-color: purple;
  /* background-color: green; */
}