#editor {
  width: 95%;
  height: 300px;
  white-space: pre-wrap; /*change to pre so that it doesn't wrap*/
  overflow: scroll;
  outline-color: #dfdfdf;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
  overflow: scroll;
}
